.column {
    display: flex;
    flex-direction: column;
    margin: 8px;
}

.empty {
    color: green;
    padding: 0px 3px 0px 3px;
}

.filled {
    color: red;
    padding: 0px 3px 0px 3px;
}

form{
    display: flex;
}

h1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

input{
    margin: 5px 10px 5px 60%;
    font-size: large;
    text-align: center;
}

.row {
    display: flex;
    height: inherit;
}